{% extends 'base.html' %}

{% block title %}
    Details about group {{ group.pk }}
{% endblock %}

{% block content %}
    <h1>Details about Group || {{ group.name }} || ID: {{ group.pk }}</h1><br>
    <dl>
        <dt>Name:</dt>
        <dd><a href="{% url 'groups:update' group.pk %}">{{ group.name }}</a></dd>
        <br><br>
        <dt>Start Date:</dt>
        <dd>{{ group.start_date }}</dd>
        <br><br>
        <dt>Description:</dt>
        <dd>{{ group.description }}</dd>
        <br><br>
    </dl><br>
    <hr>
    <button><a href="{% url 'groups:list' %}">Back to list</a></button>
{% endblock %}